anyio
argon2-cffi
argon2-cffi-bindings
attrs
Babel
backcall
beautifulsoup4
bleach
brotlipy==0.7.0
certifi
cffi
charset-normalizer
cryptography
cycler
debugpy
decorator
defusedxml
entrypoints
fastjsonschema
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
json5
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
olefile==0.46
opencv-python==4.8.0.76
packaging
pandocfilters
parso
pexpect
pickleshare
Pillow==9.3.0
pkgutil_resolve_name
ply==3.11
prometheus-client
prompt-toolkit
psutil
ptyprocess
pycparser
Pygments
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
pyzmq
qtconsole
QtPy
requests
scikit-learn
scipy
Send2Trash
sip
six
sniffio
soupsieve
terminado
threadpoolctl
tinycss2
toml
torch==1.8.0
torchaudio==0.8.0a0+a751e1d
torchvision==0.9.0
tornado
traitlets
typing_extensions
urllib3
wcwidth
webencodings==0.5.1
websocket-client
widgetsnbextension
zipp
torch
numpy
scikit_learn
matplotlib
opencv-python
torchvision